.editors-module {

    padding-top: 20px;

    h4 {
        font-size: 1.45em;
        font-family: $franklin-bold;
        font-weight: normal;
    }

    &-unit {

        margin-top: 0px;
        margin-bottom: 0px;

        &:nth-of-type(odd) {
            padding-left: 0px;
            padding-right: 20px;
        }

        &:nth-of-type(even) {
            padding-left: 20px;
            padding-right: 0px;
            margin-left: -1px;
            border-left: 1px solid $ui-lightGray-1;
        }

        &-image,
        &-text {
            padding: 0px;
        }

        &-image img {
            width: 100%;
            height: auto;
        }

        &-text {
            padding-left: 20px;

            & h5 {
                font-family: $franklin-bold;
                font-weight: normal;
                font-size: 1.2em;
                margin-top: 0px;
                margin-bottom: 10px;

                & a {
                    color: $ui-black-1;

                    &:hover { color: $ui-black-0; }
                }
            }

            & p {
                font-size: 1.1em;
            }
        }

    }

    .pgArticle--wAD & {
        @media (max-width: $large){
            .editors-module {
                &-unit {
                    &-image,
                    &-text {
                        width: 100%;
                        padding: 5px 0;
                    }
                }
            }
        }

        @media (max-width: $small){
            .editors-module {
                &-unit {
                    &-image,
                    &-text {
                        width: 50%;
                    }
                    &-image {
                        padding: 0;
                    }
                    &-text {
                        padding-left: 15px;
                    }
                }
            }
        }

        @media (max-width: $xsmall){
            .editors-module {
                &-unit {
                    &-image,
                    &-text {
                        width: auto;
                        padding: 0;
                    }
                }
            }
        }
    }

}

@media (max-width: $med){
    .editors-module {
        &-unit {
            &-text {
                // padding-left: 0px;
            }
        }
    }
}
@media (max-width: $small) {

    .editors-module {
        &-unit {
            padding: 10px 0;
            border-bottom: 1px solid $ui-lightGray-1;
            &:nth-of-type(odd) {
                padding-right: 0px;
            }

            &:nth-of-type(even) {
                padding-left: 0px;
                margin-left: 0;
                border-left: none;
            }
            &-text {
                padding-left: 15px;
            }
        }
    }
}
@media (max-width: $xsmall) {

    .editors-module {
        &-unit {
            &-text {
                padding-left: 0px;
                width: auto;
            }
        }
    }
}
