/* GENERAL */
$chart-purple: #9b7ac1;

.pgChart {
	position: relative;
}

.pgChart-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

.pgChart .col-xs-15,
.pgChart .col-sm-15,
.pgChart .col-md-15,
.pgChart .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.pgChart .pgChart .col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
	.pgChart .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .pgChart .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .pgChart .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.pg-button {
	padding: 14px 32px;
}

.pg-button[disabled], .pg-button[disabled]:hover {
	background-color: white!important;
	border-color: #d5d5d5!important;
}

.pgChart footer {
	display: inline-block;
    width: 100%;
}

*[disabled] {
	opacity: 0.5;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.bounce:not([disabled]) {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

/* CANVAS */
canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

#elementsCanvas, #hoverCanvas, #animationCanvas {
	display: none;
}

/* STEP */
.pgStep {
	padding: 20px 0px;
	-webkit-transform: translate3d(0px,0px,0px);
	-moz-transform: translate3d(0px,0px,0px);
	transform: translate3d(0px,0px,0px);
}

#pgStep1 {
	height: 505px;
}

#pgStep2 {
	height: 545px;
}

#pgStep3 {
	height: 485px;
}

#pgStep4 {
	height: 1100px;
}

.pgStep--acenter {
	text-align: center;
}

.pgStep__info {
	display: inline-block;
	width: 60%;
}

#pgStep2 .pgStep__info {
	float: right;
}

.pgStep--acenter .pgStep__info {
	display: block;
	margin: auto;
	width: 55%;
}

.pgStep--acenter .pgStep__info__text-description {
	width: 74%;
	margin: auto;
}

.pgStep__info__number {
	width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    float: left;
    text-align: center;
    padding: 20px;
}

.pgStep--acenter .pgStep__info .pgStep__info__number, .pgStep--acenter .pgStep__info .pgStep__info__text-container {
	float: none;
	display: inline-block;
}

.pgStep__info__text-container {   
	width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.pgStep--acenter .pgStep__info .pgStep__info__text-container {
	width: auto;
	margin: 0;
}

.pgStep__info__text-title {
	font-weight: bold;
	font-family: "FranklinITCProBold";
	/*font-size: 22px;
	text-transform: uppercase;*/
}

.pgStep__info__text-description {
	width: 80%;
	font-size: 16px;
}

.pgStep__info__text-action {
}

.pgStep__picture {
	display: inline-block;
	width: 60%;
}

#pgStep1 .pgStep__picture {
	text-align: right;
}

.pgStep__last-chart {
	position: absolute;
    bottom: 22%;
    left: 0;
    right: 0;
    margin: auto;
}

.pgStep__last-chart img:not(.marker-image) {
	visibility: hidden;
}

.pgStep__last-chart-text {
	position: absolute;
	font-size: 12px;
	text-transform: uppercase;
}

#pgStep__last-chart-text-probability {
	top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
}

#pgStep__last-chart-text-probability-low {
	top: 48px;
    left: 30%;
    font-size: 11px;
}

#pgStep__last-chart-text-probability-medium {
	top: 48px;
    left: 0px;
    font-size: 11px;
    right: 0px;
    margin: auto;
}

#pgStep__last-chart-text-probability-high {
	top: 48px;
    font-size: 11px;
    right: 32%;
    margin: auto;
}

#pgStep__last-chart-text-consecuences {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
    top: 50%;
    left: 10%;
}

#pgStep__last-chart-text-consecuences-low {
	top: 88%;
    font-size: 11px;
    left: 13.5%;
}

#pgStep__last-chart-text-consecuences-medium {
	top: 53.5%;
    font-size: 11px;
    left: 18%;
}

#pgStep__last-chart-text-consecuences-high {
	top: 105px;
    font-size: 11px;
    left: 23%;
}

#pgStep__last-chart-text-compare {
	top: 123%;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 11px;
}

.pgStep__users-stats {
	width: 70%;
	left: 15%;
    height: 18%;
    margin: auto;
    -webkit-perspective: 1180px;
    perspective: 1180px;
    bottom: -30px;
    position: absolute;
}

.pgStep__users-stats-wrapper {
	-webkit-transform: rotateX(50deg);
    transform: rotateX(50deg);
    width: 100%;
    height: 100%;
}

.pgStep__users-stats__col:nth-child(1) {
	width: 20%;
    height: 100%;
    transform: skewX(-2deg);
    float: left;
}

.pgStep__users-stats__col:nth-child(2) {
	width: 20%;
    height: 100%;
    transform: skewX(-1deg);
    float: left;
}

.pgStep__users-stats__col:nth-child(3) {
	width: 20%;
    height: 100%;
    transform: skewX(0deg);
    float: left;
}

.pgStep__users-stats__col:nth-child(4) {
	width: 20%;
    height: 100%;
    transform: skewX(1deg);
    float: left;
}

.pgStep__users-stats__col:nth-child(5) {
	width: 20%;
    height: 100%;
    transform: skewX(2deg);
    float: left;
}

.pgStep__users-stats__col__value {
	width: 7%;
	margin-left: 3%; 
	float: left;
	height: 0%;
	-webkit-transition: -webkit-transform 750ms ease-in-out;
	-moz-transition: -moz-transform 750ms ease-in-out;
	-o-transition: -o-transform 750ms ease-in-out;
	transition: transform 750ms ease-in-out;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
    transform-origin: top;
}

.pgStep__users-stats__col__value:nth-child(1) {
	margin-left: 29%;
}

.pgStep__users-stats__col:nth-child(1) .pgStep__users-stats__col__value:nth-child(1), .pgStep__users-stats__col:nth-child(1) .pgStep__users-stats__col__value:nth-child(2), .pgStep__users-stats__col:nth-child(1) .pgStep__users-stats__col__value:nth-child(3), .pgStep__users-stats__col:nth-child(1) .pgStep__users-stats__col__value:nth-child(4),
.pgStep__users-stats__col:nth-child(2) .pgStep__users-stats__col__value:nth-child(1), .pgStep__users-stats__col:nth-child(2) .pgStep__users-stats__col__value:nth-child(2), .pgStep__users-stats__col:nth-child(2) .pgStep__users-stats__col__value:nth-child(3), 
.pgStep__users-stats__col:nth-child(3) .pgStep__users-stats__col__value:nth-child(1), .pgStep__users-stats__col:nth-child(3) .pgStep__users-stats__col__value:nth-child(2),
.pgStep__users-stats__col:nth-child(4) .pgStep__users-stats__col__value:nth-child(1) {
	background-color: rgb(216, 196, 237);
}

.pgStep__users-stats__col:nth-child(1) .pgStep__users-stats__col__value:nth-child(5),
.pgStep__users-stats__col:nth-child(2) .pgStep__users-stats__col__value:nth-child(5), .pgStep__users-stats__col:nth-child(2) .pgStep__users-stats__col__value:nth-child(4), 
.pgStep__users-stats__col:nth-child(3) .pgStep__users-stats__col__value:nth-child(4), .pgStep__users-stats__col:nth-child(3) .pgStep__users-stats__col__value:nth-child(3),
.pgStep__users-stats__col:nth-child(4) .pgStep__users-stats__col__value:nth-child(3), .pgStep__users-stats__col:nth-child(4) .pgStep__users-stats__col__value:nth-child(2),
.pgStep__users-stats__col:nth-child(5) .pgStep__users-stats__col__value:nth-child(2), .pgStep__users-stats__col:nth-child(5) .pgStep__users-stats__col__value:nth-child(1) {
	background-color: rgb(185, 150, 223);
}

.pgStep__users-stats__col:nth-child(5) .pgStep__users-stats__col__value:nth-child(5), .pgStep__users-stats__col:nth-child(5) .pgStep__users-stats__col__value:nth-child(4), .pgStep__users-stats__col:nth-child(5) .pgStep__users-stats__col__value:nth-child(3),
.pgStep__users-stats__col:nth-child(4) .pgStep__users-stats__col__value:nth-child(5), .pgStep__users-stats__col:nth-child(4) .pgStep__users-stats__col__value:nth-child(4), 
.pgStep__users-stats__col:nth-child(3) .pgStep__users-stats__col__value:nth-child(5) {
	background-color: rgb(158, 109, 209);
}

.pgStep__users-stats-marker {
    width: 20px;
    opacity: 0.0;
    position: absolute;
	margin-top: -2.5%;
	z-index: 99999;
	-webkit-transform: translate3d(0,0,1px);
	transform: translate3d(0,0,1px);
}

.pgStep__users-stats-min {
    font-size: 14px;
    position: absolute;
    left: 80.5%;
    margin-top: -13.75%;
    opacity: 0.0;
}

.pgStep__users-stats-mid {
    font-size: 14px;
    position: absolute;
    left: 82%;
    margin-top: -8.75%;
    opacity: 0.0;
}

.pgStep__users-stats-max {
    font-size: 14px;
    position: absolute;
    left: 83.2%;
    margin-top: -3.5%;
    opacity: 0.0;
}

.pgStep__result {
	width: 100%;
	-webkit-perspective: 1180px;
    perspective: 1180px;
    position: absolute;
    margin-top: 335px;
    opacity: 0.4;
}

.pgStep__result__matrix {
	width: 40vw;
    height: 40vw;
    max-height: 500px; 
    max-width: 500px;
    margin: auto;
    line-height: 0;
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    margin-top: -115px;
    box-shadow: 0px 10px 0px 0px rgba(145,167,149,0.5);
}

.pgStep__pregnancy-buttons {
	position: absolute;
    top: 25vw;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 44%;
    height: 21vw;
}

.pgStep__pregnancy-ok {
	position: absolute;
	top: 0px;
	width: 40%;
	height: 100%;
	left: 0px;
	cursor: pointer;
}

.pgStep__pregnancy-ko {
	position: absolute;
	top: 0px;
	width: 40%;
	height: 100%;
	right: 0px;
	cursor: pointer;
}

#pgStep4[disabled] .pgStep__pregnancy-ok, #pgStep4[disabled] .pgStep__pregnancy-ko {
	/*cursor: default;*/
}

.pgStep__pregnancy-ok[disabled], .pgStep__pregnancy-ko[disabled] {
	/*cursor: default!important;*/
}

/* TUBES && PICTURES */
#tube1 {
	position: absolute;
    top: 4.4%;
    left: -20%;
    z-index: 1;
}

#picture1 {
	position: absolute;
	top: 0%;
	right: 6%;
}

/* QUESTION */
.pgQuestion-container {
	width: 100%;
	overflow: hidden;
}

.pgQuestion-wrapper {
	-webkit-transform: translate3d(0px,0,0);
	-moz-transform: translate3d(0px,0,0);
	transform: translate3d(0px,0,0);
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	-moz-transition: -moz-transform 500ms ease-in-out;
	-o-transition: -o-transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out;
}

#pgQuestion-container1 {
    overflow: hidden!important;
}

#pgQuestion-wrapper1 {
	width: 200%;
	transform: translate3d(-50%, -50%, 0px);
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#pgQuestion-wrapper1 .pgQuestion {
	width: 50%;
}

#pgQuestion-wrapper2 {
	width: 200%;
}

#pgQuestion-wrapper2 .pgQuestion {
	width: 50%;
}

#pgQuestion-wrapper3 {
	width: 300%;
	transform: translate3d(-50%, -50%, 0px);
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#pgQuestion-wrapper3 .pgQuestion {
	width: 33.333333332%;
}

.pgQuestion {
	padding: 20px 0px;
	display: inline-block;
	/*background-color: $ui-lightGray-2;*/
}

.pgQuestion__header {
	width: 60%;
	margin: auto;
	background-color: white;
	border-top: 1px solid $ui-lightGray-0;
	border-bottom: 1px solid $ui-lightGray-0;
	text-align: center;
	padding: 10px 5px;
}

.pgQuestion__header .pgQuestion__header-number, .pgQuestion__header .pgQuestion__header-remaining-questions {
	width: 40px;
	display: inline-block;
}

.pgQuestion__header .pgQuestion__header-number {
	vertical-align: top;
}

.pgQuestion__header .pgQuestion__header-remaining-questions {
	vertical-align: super;
}

.pgQuestion__header .pgQuestion__header-title {
	width: -webkit-calc(100% - 80px);
	width: calc(100% - 80px);
	display: inline-block;
	font-size: 16px;
}

.pgQuestion__body {
	min-height: 370px;
	text-align: center;
	position: relative;
	margin-bottom: -20px;
}

.pgQuestion__body__select-country {
	position: absolute;
    top: 10%;
    margin: auto;
    left: 0;
    right: 0;
    width: 200px;
    height: 40px;
}

.pgQuestion__footer {
	text-align: center;
}

.pgQuestion__body__options-container, .pgQuestion__body__chart-container {
	padding-top: 20px;
	margin: auto;
    display: inline-block;
    width: auto!important;
}

.pgQuestion__body__options-container:nth-of-type(1) {
	padding-top: 20px;
}

.pgQuestion__body__options-container:nth-of-type(2) {
	width: 45%;
	padding-bottom: 75px;
}

.pgQuestion__body__option {
    padding: 10px;
    border-radius: 50%;    
    box-shadow: 0px 0px 5px 2px rgba(240, 240, 240, 0.9);
    cursor: pointer;
    background: white;
    width: 100%;
    height: 100%;
    position: relative;
}

.pgQuestion__body__option-wrapper {
	width: 115px;
	height: 115px;
    padding: 1.25% 1.25%;
    float: left;
    position: relative;
}

.pgQuestion__body__option:not(.disabled-option):hover, .pgQuestion__body__option.selected {
	-webkit-transition: all 0.4;
    transition: all 0.4s;
    box-shadow: 0px 0px 5px 2px lighten($chart-purple, 20);
}

.pgQuestion__body__option.disabled-option {
	cursor: default;
}

.pgQuestion__body__options-container .pgQuestion__body__option:last-of-type {
	/*margin-right: 2.5%;*/
}

.pgQuestion__body__option .image {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 80%;
}

.pgQuestion__body__option p {
	position: absolute;
    top: 108%;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.pgQuestion__body__binary-options-container {
	width: 270px;
	margin: auto;
	height: 170px;
	padding: 110px 0px;
}

.pgQuestion__body__binary-options-container--terniary {
	width: 405px;
}

.pgQuestion__body__answer {
	width: 50%;
	margin: auto;
	text-align: center;
	opacity: 0.0;
	font-size: 16px;
    margin-top: 20px;
	margin-bottom: 20px;
}

.pgQuestion__body__answer + .pg-button {
	display: none;
}

.pgQuestion__body__binary-options-container .check {
	position: absolute;
    top: -25%;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
}

.pgQuestion__body__binary-option {
	width: 115px;
	height: 115px;
    margin-right: 20px;
    float: left;
    padding: 28px;
    position: relative;
    border-radius: 50%;    
    box-shadow: 0px 0px 5px 2px rgba(240, 240, 240, 0.9);
    cursor: pointer;
    float: left;
    background: white;
}

.pgQuestion__body__binary-option.disabled-option:hover {
	cursor: default;
}

.pgQuestion__body__binary-option--terniary {
	padding: 14px;
}

.pgQuestion__body__binary-option:not(.pgQuestion__body__binary-option--terniary):nth-child(2) {
	margin-left: 20px;
	margin-right: 0px;
}

.pgQuestion__body__binary-option--terniary:nth-child(3) {
	margin-left: 0px;
	margin-right: 0px;
}

.pgQuestion__body__binary-option:not(.disabled-option):hover, .pgQuestion__body__binary-option.selected {
	-webkit-transition: all 0.4;
    transition: all 0.4s;
	box-shadow: 0px 0px 5px 2px lighten($chart-purple, 20);
}

.pgQuestion__map-info {
	position: absolute;
    left: 0px;
    bottom: 10%!important;
    right: 0px;
    margin: auto;
}

.pgQuestion__map-info .pgQuestion__map-info-point {
	height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #bc89dc;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

/* CONCLUSIONS */
.pgConclusions {
	padding: 40px 0px;
	z-index: 99999;
    position: relative;
}

.pgConclusions .pgConclusions__main-conclusion {
	font-size: 26px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.pgConclusions h4 {
	display: none;
}

.pgConclusions * {
	text-align: center;
}

.pgConclusions-title {
	margin: auto;
    width: 40%;
}

.pgConclusions .image-full-width {
	display: block;
	margin: auto;
	text-align: center;
}

.pgConclusions figure, .pgConclusions figcaption, .pgConclusions .pgConclusions-text-wrapping-image {
	text-align: left;
}

.pgConclusions figure {
	display: inline-block;
	float: left;
	margin-right: 40px;
}

.pgConclusions p {
	width: 60%;
	margin: auto;
	font-size: 16px;
}

.pgConclusions b {
	font-family: FranklinITCProBold;
}

.pgConclusions-desc {
	display: none;
}

.pgConclusions-sharebar-wrapper-title {
	margin-top: 20px;
}

.pgConclusions-sharebar-wrapper {
	width: 118px;
	float: none;
	visibility: hidden;
}

.horizontal-background, .horizontal-divisions, .pgStep__last-chart-horizontal-wrapper, #horizontal-conclusions-button {
	display: none;
}

.vertical-background {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

.vertical-background img {
	width: 100%;
}

.vertical-divisions {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.vertical-divisions div {
	width: 100%;
	height: 48vw !important;
	max-height: 583px !important;
	margin-top: 48vw;
	background-color: #f8f8f8;
}

.pgStep__last-chart-marker {
	position: absolute;
    top: 29%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    opacity: 0;
}

.pgStep__last-chart-marker img {
	width: 100%;
}

.pgStep__users-stats-row {
    height: 10%;
    position: relative;
    margin-top: 2%;
}

.pgStep__users-stats-row-value {
	position: absolute;
    top: 0;
    left: 0;
    background: blue;
    height: 100%;
    width: 33.333%;
    background-color: #e0d1f0;
}

.pgStep__users-stats-row-value:nth-of-type(2) {
	background-color: #c6abe4;
	left: 33.33%;
}

.pgStep__users-stats-row-value:nth-of-type(3) {
	background-color: #ae88d8;
	left: 66.66%;
}

.pgStep__users-stats-text {
	float: left;
    width: 64%;
    left: 18%;
    height: 18%;
    margin: auto;
    bottom: -30px;
    position: absolute;
    margin-bottom: -3.5%;
}

.pgStep__users-stats-row:nth-of-type(2) {
	margin-top: 8%;
}

#pgStep__users-stats-text-title-consequences {
	margin-left: -2.5%;
}

.pgStep__users-stats-text {
	font-size: 12px;
	text-align: left;
}

.pgStep__users-stats-text-row-value {
	opacity: 0.0;
}

.pgStep__users-stats-text-row-value-wrapper {
    position: relative;
    height: 10%;
    margin-bottom: 2.5%;
}

.pgStep__users-stats-text-row-value-wrapper div {
	position: absolute;
    left: 0%;
    text-align: center;
    font-size: 10px;
    margin-top: 2.5%;
}

.pgStep__users-stats-text-row-value-wrapper:nth-of-type(1) div {
	 margin-top: 2.5%;
}

.pgStep__users-stats-text-row-value-wrapper:nth-of-type(2) div {
	margin-top: 3%;
}

.pgConclusions .pg-button {
	margin: auto;
	display: block;
	width: 200px;
	margin-bottom: 20px;
}

.pgConclusions {
	padding-bottom: 0px!important;
}

#pgStep2 .pgStep__info__text-action, #pgStep3 .pgStep__info__text-action, #pgQuestion-wrapper3 .pgQuestion__footer {
	display: none;
}

#resize-warning {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	display: none;
}

#resize-warning .resize-warning__text {
	position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    color: white;
    padding: 20px;
    height: 100px;
    text-align: center;
}

/* MEDIA QUERIES */
	/* MOBILE */

@media (max-width: 520px) and (orientation: portrait) {
	#resize-warning {
		display: block;
	}

    .pgStep__info {
        display: inline-block !important;
        width: 100% !important;
    }
}

@media (max-width: 520px) {
	.pgStep__info__text-container {
    	width: 70%;
    }

    .pgQuestion__body__binary-option {
		width: 20vw;
    	height: 20vw;
    	padding: 0;
	}

	.pgQuestion__body__binary-option h3 {
	    position: relative;
	    -moz-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
    	top: 50%;
    	margin: 0;
    }

    .pgQuestion__body__binary-options-container--terniary {
    	width: -webkit-calc(60vw + 40px)!important;
        width: calc(60vw + 40px)!important;
    }

    .pgQuestion__body__binary-options-container {
    	width: -webkit-calc(40vw + 40px);
        width: calc(40vw + 40px);
    }

	.pgQuestion__body__binary-option img {
		max-width: 100%;
	}

	#pgStep4 .pgStep__info {
    	width: 40%!important;
    	margin-left: 5%!important;
	}

	.pgConclusions {
		max-height: 100%;
		overflow: auto;
	}

	.pgStep__users-stats-text .pgStep__users-stats-marker{
		width: 10px!important;
	}

	.pgStep__users-stats-text-row-value {
		font-size: 9px!important;
	}

	.pgStep__users-stats-text-title {
		font-size: 10px;
	}
}

	/* MOBILE */

@media (min-width: 720px) {
	.pgQuestion__map-info {
		bottom: 1%;
	}
}

@media (max-width: 530px) {
	.pgStep__users-stats {
		margin-top: 15px;
	}
}

@media (max-width: 567px) { 
	/*.pgQuestion__body__options-container:nth-of-type(1) {
	    padding-top: 40px;
	    padding-bottom: 40px;
	    width: 100%;
	}

	.pgQuestion__body__options-container:nth-of-type(2) {
    	width: 73%;
    	padding-bottom: 100px;
	}*/

	.pgQuestion__body__option-wrapper {
    	width: 14.6vw!important;
    	height: 14.6vw!important;
	}
	
	.pgQuestion__body__option p {
    	font-size: 2.2vw !important;
	}
}

@media (min-width: 531px) and (max-width: 630px) {
	.pgStep__users-stats {
		margin-top: 9px;
	}
}

@media (min-width: 631px) and (max-width: 800px) {
	.pgStep__users-stats {
		margin-top: 8px;
	}

    .pgQuestion__map-info span {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
	.pgConclusions-sharebar-wrapper {
		width: 82px;
	}
}

@media (min-width: 801px) and (max-width: 991px) {
	.pgStep__users-stats {
		margin-top: 0px;
	}
}

@media (min-width: 1100px) {
    .pgQuestion__body__option p {
        font-size: 14px!important;
    }

    .pgQuestion__body__options-container:nth-of-type(2) {
        padding-bottom: 100px;
    }
}

@media (min-width: 1200px) {
	

	/*.pgQuestion__body__option-wrapper {
		width: 103.19px!important;
		height: 103.19px!important;
	}*/

	/*.pgStep__last-chart-marker {
		top: 787px!important;
    }*/

	#pgStep4 {
		height: 110vw!important;
    	max-height: 1315px!important;
	}

	.vertical-divisions div {
		width: 100%;
		height: 48vw !important;
		max-height: 583px !important;
		margin-top: 583px;
		background-color: #f8f8f8;
	}

	.pgStep__pregnancy-buttons {
	    top: 320px;
	    max-height: 250px!important;
	}
}

@media (min-width: 992px) {
	.pgChart {
		overflow: visible;
	}

	.pgStep {
	   	height: 48vw !important;
    	max-height: 583px !important;
    	overflow: visible;
	}

	#pgStep4 {
		height: 110vw!important;
    	max-height: 1315px!important;
	}

	.pgQuestion-container {
	   	height: 48vw !important;
    	max-height: 583px !important;
    	overflow-x: hidden;
	}

	#pgQuestion-container2 {
		max-height: 583px!important;
    	height: 49vw!important;
	}

	.vertical-divisions div:nth-child(2) {
		max-height: 583px!important;
    	height: 50vw!important;
	}
	
	/*.pgQuestion__body__option-wrapper {
		width: 8.6vw;
		height: 8.6vw;
	}*/

	.image-map {
		width: 70%;
	}

	.pgQuestion__body__option p {
		font-size: 1.4vw;
	}

	.pgQuestion__body__options-container {
		padding-bottom: 20px;
	}

	.pgQuestion__body__option-wrapper {
		padding: 2.5% 2.5%;
	}

	.pgQuestion__body__options-container:nth-of-type(2) .pgQuestion__body__option {
		margin-left: 7%!important;
	}

	.pgQuestion__body__options-container:nth-of-type(2) {
		width: auto!important;
	}

	.pgQuestion__body__options-container, .pgQuestion__body__chart-container {
	    width: 65%;
	}

	#pgStep2 .pgStep__info {
		width: 51%!important;
	}
}

@media (min-width: 992px) {
	#pgStep__last-chart-text-compare {
		top: 100%!important;
	}
}

@media (min-width: 1020px) {
	#pgStep__last-chart-text-compare {
		top: 102%!important;
	}
}

@media (min-width: 1040px) {
	#pgStep__last-chart-text-compare {
		top: 107%!important;
	}
}

@media (min-width: 1090px) {
	#pgStep__last-chart-text-compare {
		top: 107%!important;
	}
}

@media (min-width: 1100px) {
	#pgStep__last-chart-text-compare {
		top: 111%!important;
	}
}

@media (min-width: 1120px) {
	#pgStep__last-chart-text-compare {
		top: 114%!important;
	}
}

@media (min-width: 1160px) {
	#pgStep__last-chart-text-compare {
		top: 117%!important;
	}
}

@media (min-width: 1190px) {
	#pgStep__last-chart-text-compare {
		top: 120%!important;
	}
}

@media (min-width: 1200px) {
	#pgStep__last-chart-text-compare {
		top: 123%!important;
	}
}

@media (min-width: 1210px) {
	#pgStep__last-chart-text-compare {
		top: 125%!important;
	}
}

@media (min-width: 1050px) {
	.pgStep__last-chart {
		bottom: 22%!important;
	}
}

@media (min-width: 992px) and (max-width: 1049px) {
	.pgStep__last-chart {
		bottom: 21%!important;
	}
}

@media (max-width: 680px) {
	.pgStep__last-chart-text--horizontal {
		font-size: 10px!important;
	}

	#pgStep__last-chart-text-probability--horizontal, 
	#pgStep__last-chart-text-probability-low--horizontal,
	#pgStep__last-chart-text-probability-medium--horizontal,
	#pgStep__last-chart-text-probability-high--horizontal,
	#pgStep__last-chart-text-consecuences--horizontal,
	#pgStep__last-chart-text-consecuences-low--horizontal,
	#pgStep__last-chart-text-consecuences-medium--horizontal,
	#pgStep__last-chart-text-consecuences-high--horizontal {
		font-size: 9px!important;
	}
}

@media (max-width: 490px) {
	.pgStep__last-chart-text--horizontal {
		font-size: 9px!important;
	}

	#pgStep__last-chart-text-probability--horizontal, 
	#pgStep__last-chart-text-probability-low--horizontal,
	#pgStep__last-chart-text-probability-medium--horizontal,
	#pgStep__last-chart-text-probability-high--horizontal,
	#pgStep__last-chart-text-consecuences--horizontal,
	#pgStep__last-chart-text-consecuences-low--horizontal,
	#pgStep__last-chart-text-consecuences-medium--horizontal,
	#pgStep__last-chart-text-consecuences-high--horizontal {
		font-size: 8px!important;
	}
}

@media (max-width: 525px) { 
	#pgStep__last-chart-text-consecuences--horizontal {
		left: -2%!important;
	}

	#pgStep__last-chart-text-consecuences-high--horizontal {
	    top: 20px!important;
    	left: 14%!important;
    }

    #pgStep__last-chart-text-consecuences-medium--horizontal {
    	left: 8%!important;
	}
}

@media (min-width: 0px) and (max-width: 991px) {
	.pgChart {
		overflow-x: auto;
    	overflow-y: hidden;
		height: 700px!important;
	}
	.pgChart-wrapper {
		height: 100%!important;
		width: 900%!important;
		-webkit-transform-style: preserve-3d;
  		-moz-transform-style: preserve-3d;
  		transform-style: preserve-3d;
	}
	.pgStep:not(#pgStep4), .pgQuestion-container, .pgConclusions  {
		height: auto!important;
		max-height: 100%;
		width: 11.111111111%!important;
		float: left;
		-moz-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
    	position: relative;
  		top: 50%;
  		min-height: 500px;
  		overflow-x: hidden;
  		overflow-y: auto;
	}

	#pgStep4 {
		height: auto!important;
		width: 22.22222%!important;
		float: left;
		top: 15%;
		position: relative;
	}

	.pgStep__info {
    	padding-left: 20px;
	}

	#pgStep4 .pgStep__info {
		width: 55% !important;
    	margin-left: -12%;
    	display: inline-block !important;
	}

	#pgStep4 .pgStep__info__text-container {
		margin-left: 80px !important;
    	margin-top: 20px !important;
    	width: 310px!important;
    	text-align: left;
    	display: block!important;
    }

    #pgStep4 .pgStep__info__number { 
    	float: left!important;
    	display: block!important;
    }

    .pgStep--acenter .pgStep__info__text-description {
		width: auto!important;
		margin: 0 0 10px!important;
	}

	.horizontal-divisions {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	}

	.horizontal-divisions div {
		width: 11.11111111%;
		height: 100%;
		background-color: #f8f8f8;
		margin-left: 11.11111111%;
		float: left;
	}

	.horizontal-background {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 88.888888%;
		height: 100%;
		display: block;
		-webkit-transform-style: preserve-3d;
  		-moz-transform-style: preserve-3d;
  		transform-style: preserve-3d;
	}

	.horizontal-background img {
		width: 100%;
		position: relative;
  		top: 50%;
  		-moz-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
	}

	.vertical-background, .vertical-divisions {
		display: none;
	}

	.pgStep__info {
	    display: inline-block!important;
    	width: 50%!important;
	}

	.pgStep__info__text-container {
	    margin-left: 80px!important;
	    margin-top: 20px!important;
	    width: auto!important;
	    float: none!important;
	}

	.pgQuestion__body__option-wrapper {
		/*width: 8.6vw;
		height: 8.6vw;*/
        width: 10.6vw;
        height: 10.6vw;
	}

	.image-map {
		max-width: 100%;
		/*width: 60%;*/
        width: 80%;
        margin-left: 20%;
	}

	#pgStep3 .pgStep__info {
		margin-left: 25%;
    	float: none;
	}

	#pgQuestion-wrapper1 {
        width: 200%;
        height: auto;
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: -3%;
        margin-left: 15px;
    }

    #pgQuestion-wrapper3 {
	    height: auto;
	    position: absolute;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
	    margin-left: 15px;
	}

	.pgQuestion__body__option p {
		font-size: 1.7vw;
	}

	.pgQuestion__body__options-container {
		padding-bottom: 20px;
	}

	.pgQuestion__body__binary-options-container--terniary {
    	width: 280px!important;
	}

	.pgQuestion__body__binary-option {
    	width: 80px!important;
    	height: 80px!important;
    }

    .pgQuestion__body__binary-option .image {
    	max-width: 100%;
    }

    .pgQuestion__body__binary-options-container {
	    padding: 20px 0px 70px !important;
	}

	.pgQuestion__body__binary-options-container:not(.pgQuestion__body__binary-options-container--terniary) {
    	width: 200px!important;
    }

    .pgQuestion__body__binary-option h3 {
	    position: relative;
	    -moz-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
    	top: 50%;
    	margin: auto;
    	font-size: 14px;
    }

	.pgStep__pregnancy-buttons {
		top: 42%;
	    left: -31.25%;
	    position: absolute;
	    top: 100%;
	    margin: auto;
	    width: 22%;
	    height: 40vw;
	}	

	.pgStep__last-chart {
		margin-top: 393px;
		position: relative;
		margin-left: 60.5%;
    	width: 37%;
    	visibility: hidden;
    	margin-top: 0px;
    }

    .pgStep__last-chart img {
    	visibility: visible!important;
    }

    .pgStep__users-stats {
    	margin-left: 42.5%;
    	width: 39%;
    	bottom: auto!important;
    }

    .pgStep__users-stats-text {
    	margin-left: 44.5%;
    	width: 39%;
    	bottom: 0.5%!important;
    }

    .pgStep__last-chart-horizontal-wrapper {
        height: auto !important;
	    width: 11.11111% !important;
	    float: left;
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
	    position: relative;
	    top: 50%;
	    margin-left: 77.77777%;
	    position: absolute;
	    display: block;
	    margin-top: -0.5%;
	}

	#horizontal-conclusions-button {
		position: absolute;
		height: auto !important;
	    width: 11.11111% !important;
	    bottom: 10%;
	    margin-left: 77.77777%;
	    position: absolute;
	    text-align: center;
	}
	
	#horizontal-conclusions-button .pg-button {
		text-transform: capitalize;
	}

	.pgStep__last-chart-horizontal-wrapper .pgStep__last-chart {
		width: 100%;
	    visibility: visible;
	    margin-left: 0px;
	    margin-top: 0px;
	    position: relative;
    }

    .pgStep__last-chart-horizontal-wrapper .pgStep__last-chart img {
    	width: 100%;
    }

    .pgStep__last-chart-horizontal-wrapper .pgStep__users-stats {
    	margin-left: 10%;
    	width: 80%;
    	left: 0;
    }

    .pgStep__last-chart-horizontal-wrapper .pgStep__users-stats-text {
    	margin-left: 10%;
    	width: 80%;
    	position: relative;
    	left: 0;
    	top: 13px;
    }

    #mosquitosCanvas {
    	position: absolute;
  		top: 50%;
  		-moz-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
    }

    .pgConclusions p {
		width: 85%;
	}

	.pgStep__last-chart-marker {
		top: 2%;
		margin-left: -2%;
    	width: 4%;
	}

	#pgStep4 .pgStep__last-chart, #pgStep4 .pgStep__users-stats, #pgStep4 .pgStep__users-stats-text, #pgStep4 .pgStep__last-chart-marker {
		display: none;
	}

	.pgStep__users-stats-row {
		
	}

	.pgStep__users-stats-text-row-value-wrapper div {
		margin-top: 1%!important;
	}

	.pgStep__users-stats-text-title {
	    margin-left: 0.5%;
	}

	#pgStep__users-stats-text-title-consequences {
    	margin-left: -0.5%;
	}

	.pgStep__users-stats-text-row-value-wrapper {
	    margin-bottom: 3.5%;
	}

	.pgChart footer {
		margin-top: 20px;
	}

	.pgStep__last-chart-horizontal-wrapper #low-ocurrence-text {
		font-size: 10px;
	    position: absolute;
	    margin-top: -35%;
	    margin-left: 25%;
	}

	.pgStep__users-stats-row {
    	height: 12px!important;
	}

	.pgStep__last-chart-text--horizontal {
		position: absolute;
		font-size: 12px;
		text-transform: uppercase;
	}

	#pgStep__last-chart-text-probability--horizontal {
		top: -25px;
	    left: 0px;
	    right: 0px;
	    margin: auto;
	    text-align: center;
	}

	#pgStep__last-chart-text-probability-low--horizontal {
		top: 4px;
    	left: 25%;
    	font-size: 11px;
	}

	#pgStep__last-chart-text-probability-medium--horizontal {
		top: 4px;
	    left: 0px;
	    font-size: 11px;
	    right: 0px;
	    margin: auto;
	    text-align: center;
	}

	#pgStep__last-chart-text-probability-high--horizontal {
		top: 4px;
	    font-size: 11px;
	    right: 27%;
	    margin: auto;
	    text-align: center;
	}

	#pgStep__last-chart-text-consecuences--horizontal {
		-webkit-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	    top: 39%;
	    left: 1%;
	}

	#pgStep__last-chart-text-consecuences-low--horizontal {
		top: 81%;
	    font-size: 11px;
	    left: 5.5%;
	}

	#pgStep__last-chart-text-consecuences-medium--horizontal {
		top: 43.5%;
	    font-size: 11px;
	    left: 11%;
	}

	#pgStep__last-chart-text-consecuences-high--horizontal {
		top: 33px;
    	font-size: 11px;
    	left: 17%;
	}

	#pgStep2 .pgStep__info__text-action, #pgStep3 .pgStep__info__text-action, #pgQuestion-wrapper3 .pgQuestion__footer {
		display: block!important;
	}

	.pgQuestion__body {
        min-height: auto!important;
        text-align: center;
        position: relative;
        margin-bottom: 0px!important;
    }

    .pgQuestion__body__options-container:nth-of-type(1) {
        padding-top: 10px!important;
    }

    .pgQuestion__body__options-container:nth-of-type(2) {
        width: 45%;
        padding-bottom: 60px!important;
    }

    .pgQuestion__body__binary-options-container {
        height: auto!important;
    }

    #pgQuestion-wrapper3 .pgQuestion {
    	margin-top: -3%;
    }

    #pgQuestion-wrapper3 .pgQuestion:nth-child(2) {
    	margin-top: -4%;
    }

    #pgQuestion-wrapper3 .pgQuestion__body {
        padding-top: 4%;
    }

    .horizontal__top-offset {
    	top: -5vw!important;
    }

    .pgQuestion__body__answer {
		width: 45%;
		font-size: 14px;
	}

	.pgQuestion__body__answer + .pg-button {
		display: inline-block!important;
	}

    #pgQuestion-wrapper1 .pgQuestion {
        margin-top: 5%!important;
    }

    .pgQuestion__map-info {
        bottom: 4%!important;
    }
}

@media (max-width: 568px) {
	.pgQuestion__body__options-container:nth-of-type(2) {
    	width: 45%;
    	padding-bottom: 45px!important;
    	padding-top: 20px!important;
	}
}

@media (max-width: 736px) {
    #pgQuestion-wrapper1 .pgQuestion {
        margin-top: 2%!important;
    }

    .pgQuestion__map-info {
        bottom: 4%!important;
    }

    .image-map {
        max-width: 100%;
        /*width: 60%;*/
        width: 75%;
        margin-left: 25%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .pgQuestion__body__options-container {
        width: 65%;
    }

    .pgQuestion__body__options-container:nth-of-type(1) {
        padding-top: 28px !important;
    }

    .pgQuestion__body__option-wrapper {
        width: 13vw;
        height: 13vw;
    }

    .pgQuestion__body__options-container:nth-of-type(2) {
        width: 51%;
        padding-bottom: 60px !important;
    }

    #horizontal-conclusions-button {
        display: block;
    }
} 

/* MEDIA QUERIES */
    /* MOBILE */

@media (max-width: 520px) and (orientation: portrait) {
    #resize-warning {
        display: block;
    }

    .pgChart {
        overflow: hidden!important;
    }

    .pgStep__info {
        display: inline-block !important;
        width: 100% !important;
    }
}